* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  body {
    padding: 100px;
  }
}

header {
  margin-bottom: 40px;
  border-bottom: 1px solid black;
}

#container {
  display: flex;
}

#input-container {
  width: 250px;
}

#output-container {
  width: calc(100% - 250px);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  display: block;
}

input[type=text] {
  font-family: monospace;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 20px;
}

#output {
  position: relative;
}

.color {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
}
.color .row {
  min-height: 268px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.char {
  width: 182px;
  height: 268px;
  animation: animateCharacter 1s steps(1) infinite;
}

@keyframes animateCharacter {
  0% {
    background-position-x: -2016px;
  }
  10% {
    background-position-x: 0px;
  }
  20% {
    background-position-x: -220px;
  }
  30% {
    background-position-x: -448px;
  }
  40% {
    background-position-x: -670px;
  }
  50% {
    background-position-x: -895px;
  }
  60% {
    background-position-x: -1120px;
  }
  70% {
    background-position-x: -1343px;
  }
  80% {
    background-position-x: -1569px;
  }
  90% {
    background-position-x: -1792px;
  }
  100% {
    background-position-x: -2016px;
  }
}
.cyan {
  background-image: url("spritesheets/cyan.png");
}

.magenta {
  background-image: url("spritesheets/magenta.png");
}

.yellow {
  background-image: url("spritesheets/yellow.png");
}

.black {
  background-image: url("spritesheets/black.png");
}

.char-code-65 {
  background-position-y: 0px;
}

.char-code-66 {
  background-position-y: -324px;
}

.char-code-67 {
  background-position-y: -654px;
}

.char-code-68 {
  background-position-y: -984px;
}

.char-code-69 {
  background-position-y: -1312px;
}

.char-code-70 {
  background-position-y: -1645px;
}

.char-code-71 {
  background-position-y: -1974px;
}

.char-code-72 {
  background-position-y: -2303px;
}

.char-code-73 {
  background-position-y: -2631px;
}

.char-code-74 {
  background-position-y: -2963px;
}

.char-code-75 {
  background-position-y: -3294px;
}

.char-code-76 {
  background-position-y: -3624px;
}

.char-code-77 {
  background-position-y: -3950px;
}

.char-code-78 {
  background-position-y: -4221px;
}

.char-code-79 {
  background-position-y: -4544px;
}

.char-code-80 {
  background-position-y: -4880px;
}

.char-code-81 {
  background-position-y: -5208px;
}

.char-code-82 {
  background-position-y: -5543px;
}

.char-code-83 {
  background-position-y: -5864px;
}

.char-code-84 {
  background-position-y: -6197px;
}

.char-code-85 {
  background-position-y: -6526px;
}

.char-code-86 {
  background-position-y: -6855px;
}

.char-code-87 {
  background-position-y: -7185px;
}

.char-code-88 {
  background-position-y: -7513px;
}

.char-code-89 {
  background-position-y: -7846px;
}

.char-code-90 {
  background-position-y: -8173px;
}

.char-code-32 {
  animation: unset;
}

/*# sourceMappingURL=styles.css.map */
